body {
	margin: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.topnav {
	background-image: url(http://localhost/euklides/plataforma-euklides/imgs/header_background.png);
  	overflow: hidden;
  	background-color: #DCDCDC;
}

.topnav label {
  	float: left;
  	color: #333;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
	font-size: 17px;
}