body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.div_dash {
  background-color: rgba(0,0,0,0);
  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.atalhos{
	background-color: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px;
}

a {
	text-decoration: none;
}

h2 {
	padding: 10px;
	margin: 10px;
}

h3 {
	padding: 10px;
	margin: 10px;
}

.p_link {	
	float: left;
	padding: 10px;
	margin: 10px;
}

.div_link {
	display: flex;
	margin: auto;
}

.copiar_imagem {
	float: left;
	width: 17px;
	height: 19px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.div_buttons {
	display: flex;
	background-color: #F2F2F2;
	width: 60%;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.button_jogos {
	float: left;
	width: 33.3%;
	padding: 15px;
	background-color: #F2F2F2;
	border-style: solid;
	color: black;
}

.button_alunos {
	float: left;
	width: 33.3%;
	padding: 15px;
	background-color:#7F7F7F;
	border-style: solid;
	color: white;
}

.button_gerenciar {
	float: left;
	width: 33.3%;
	padding: 15px;
	background-color:#7F7F7F;
	border-style: solid;
	color: white;
}

.div_jogos {
	background-color: rgba(0,0,0,0.05);
	width: 100%;
	float: left;
	top: -500px;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
}

.div_jogo {
	width: 15%;
	height: 200px;
	margin: 25px;
	float: left;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5)
}

.nome_jogo {
	margin-left: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 110%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: rgba(0,0,0,0.7);
}

.imagem_jogo {
	width: 100%;
	height: 60%;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
  	align-items: center;
  	justify-content: center; 
}

.deletar_jogo {
	width: 30px;
	height: 30px;
	margin:0 auto;
    display: block;
    background-image: url(http://localhost/euklides/plataforma-euklides/imgs/delete_icon.png);
    background-size: 25px 25px;
    border-style: solid;
	color: black;
}

.div_novo_jogo {
	width: 15%;
	height: 200px;
	margin: 25px;
	float: left;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.imagem_novo_jogo {
	widht: 100%;
	height: 100%;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
}

.div_alunos {
	background-color: rgba(0,0,0,0.05);
	width: 100%;
	float: left;
	top: -500px;
	display: none;
	margin-left: 10px;
	margin-right: 10px;
}

.div_aluno_individual {
	background-color: rgba(0,0,0,0.05);
	width: 100%;
	float: left;
	top: -500px;
	display: none;
	margin-left: 10px;
	margin-right: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.button_aluno_indiv {
	padding: 10px 15px 10px 15px;
	border-style: solid;
	width: 100%;
	text-decoration: underline;
}

.voltar_alunos {
	padding: 10px 15px 10px 15px;
	width: 20%;
	background-color:#7F7F7F;
	border-style: solid;
	color: white;
}

.div_gerenciar {
	background-color: rgba(0,0,0,0.05);
	width: 100%;
	float: left;
	height: 500px;
	display: none;
	margin-left: 10px;
	margin-right: 10px;
}

.campo {
	margin-left: 20px;
	margin-right: 20px;
	width: 50%	
}

#button_editar {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 25%;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.margin_campos {
	margin-bottom: 10px;
}

.margin_labels {
	margin-bottom: 5px;
}

label {
	margin-left: 40px;	
}