@font-face {
	font-family: Euklides;
	src: url(http://www.darti.ufma.br/plataforma-euklides/fontes/Titillium-Regular.otf);
}

body {
	margin: 0;
	font-family: Euklides;
	background-color: #F2F2F2;
}

.div_dash{
	margin: auto;
	width: 40%;
}

h1 {
	margin: 20px;
	padding: 15px;
	background-color: #d67d31;
	border: 1px solid black;
	color: white;
	text-align: center;
}

h5 {
	margin: 20px;
	padding: 10px;
	background-color: white;
	border: 1px solid orange;
}

.div_pergunta {
	background-color: white;
	margin: 20px;
	border: 1px solid orange;
}

.p_pergunta {
	margin-left: 10px;
}

.salvar {
	padding: 10px 15px 10px 15px;
	margin:0 auto;
	background-color: #d67d31;
	color: white;
	border: 1px solid black;
    display:block;
}